<footer class="footer text-center">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-3 logo">
                <img src="https://eva.unapec.edu.do/moodle/theme/boost/pix/logo-pie.png" alt="UNAPEC">
            </div>

            <div class="col-lg-3 redes">
                <ul>
                    <li>
                        <a href="https://twitter.com/unapec" target="_blank">
                            <img src="https://eva.unapec.edu.do/moodle/theme/boost/pix/social/icn-twitter.png" alt="twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/UniversidadAPEC.UNAPEC/?ref=ts" target="_blank">
                            <img src="https://eva.unapec.edu.do/moodle/theme/boost/pix/social/icn-facebook.png" alt="facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/universidadapec" target="_blank">
                            <img src="https://eva.unapec.edu.do/moodle/theme/boost/pix/social/icn-youtube.png" alt="youtube"></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 direccion">
                <p>
                    <a href="https://www.unapec.edu.do/">Universidad APEC </a>, todos los derechos reservados. | Av. Máximo Gómez #72, Santo Domingo, República Dominicana | Apartado Postal No.2867 | Código Postal 10107 | Tel.: (809) 686-0021 . Fax: (809)
                    287-8702
                </p>
            </div>

        </div>
    </div>
</footer>